*{
  /* color: #353a42; */
}

html, body, #root, .App {
  height: 100%;
}


.App{
  
  /* background-image: linear-gradient(180deg, rgba(41, 40, 40, 0.939) 10%, rgba(255, 253, 245, 0) 60%), url('officeBackground.jpg'); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(111%2c 1%2c 57%2c 1)'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 305.82Q87.82 273.64%2c 120 361.46Q174.5 295.95%2c 240 350.45Q262.57 301.02%2c 312 323.6Q342.7 282.3%2c 384 313Q428.92 237.92%2c 504 282.84Q591.86 250.7%2c 624 338.56Q668.33 310.88%2c 696 355.21Q699.94 287.14%2c 768 291.08Q859.35 262.42%2c 888 353.77Q904.22 297.99%2c 960 314.2Q1005.66 239.86%2c 1080 285.52Q1175.81 261.33%2c 1200 357.14Q1241.86 279%2c 1320 320.85Q1338.48 267.34%2c 1392 285.82Q1439.35 261.17%2c 1464 308.52z' fill='rgba(151%2c 0%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 422.94Q25.03 375.97%2c 72 401Q86.98 343.98%2c 144 358.95Q192.8 335.75%2c 216 384.54Q303.04 351.58%2c 336 438.62Q381.02 363.64%2c 456 408.66Q521.47 354.13%2c 576 419.6Q644.74 368.34%2c 696 437.08Q729.37 350.44%2c 816 383.81Q864.98 360.79%2c 888 409.78Q897.34 347.12%2c 960 356.46Q1025.11 301.56%2c 1080 366.67Q1130.5 345.17%2c 1152 395.67Q1228.41 352.09%2c 1272 428.5Q1276.51 361.01%2c 1344 365.52Q1410.85 312.37%2c 1464 379.21z' fill='rgba(182%2c 0%2c 93%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 453.18Q31.84 413.02%2c 72 444.87Q163.87 416.74%2c 192 508.6Q201.86 446.46%2c 264 456.31Q285.1 405.41%2c 336 426.51Q423.64 394.15%2c 456 481.8Q470.41 424.21%2c 528 438.61Q557.45 396.06%2c 600 425.51Q702.39 407.9%2c 720 510.3Q767.44 437.74%2c 840 485.18Q868.26 393.44%2c 960 421.71Q1008.7 398.41%2c 1032 447.11Q1102.61 445.72%2c 1104 516.32Q1115.14 455.46%2c 1176 466.6Q1227.7 398.3%2c 1296 450Q1362.5 444.5%2c 1368 511Q1391.53 462.52%2c 1440 486.05Q1473.3 399.35%2c 1560 432.65z' fill='rgba(226%2c 0%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 529.2Q88.49 497.69%2c 120 586.18Q145.22 539.4%2c 192 564.62Q230.46 483.08%2c 312 521.54Q366.91 456.45%2c 432 511.37Q526.27 485.64%2c 552 579.91Q584.73 492.64%2c 672 525.37Q716.68 498.05%2c 744 542.72Q786.71 513.43%2c 816 556.14Q836.88 505.01%2c 888 525.89Q931.89 449.78%2c 1008 493.68Q1067.34 481.02%2c 1080 540.36Q1132.25 472.61%2c 1200 524.86Q1264.96 517.82%2c 1272 582.78Q1299.99 538.77%2c 1344 566.76Q1344.68 495.44%2c 1416 496.13Q1475.83 483.96%2c 1488 543.8z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  
  

  background-size: cover;
  /* width: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  /* background: linear-gradient(180deg, rgba(0,0,0,0.95) 31%, rgba(250, 245, 226, 0.459) 100%); */
  
}
